body {
    color: $light-black;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    font-weight: 400;
    @extend %rubik;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
    background-color: $white;
}

.title {
    color: $light-black;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 49px;
    font-weight: inherit;
}

.btn {
    color: $white;
    background-color: $orange;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.06em;
    padding: 10px 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: transparent;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}