body {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.title {
    color: black;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    margin-bottom: 49px;
}