body {
    color: $primary;
    background-color: $neutral;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;

    &.lock {
        overflow: hidden;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 60px 0;

    @media (min-width:1200px) {
        padding: 94px 0;
    }

}

.logo {
    display: block;
}

.title {
    font-size: 28px;

    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width:992px) {
        font-size: 36px;
        margin-bottom: 49px;
    }
}

.btn {
    color: $neutral;
    background-color: $accent;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.06em;
    padding: 10px 50px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s, outline-offset 0.3s;

    &:hover {
        box-shadow: 3px 3px 8px rgba($primaryDarker, 0.4);
    }

    &:focus {
        outline-offset: 4px;
        outline: 1px solid $accent;
    }

    &:active {
        box-shadow: inset 3px 3px 8px rgba($primaryDarker, 0.4);
    }

    &.current {
        color: $neutral;
        background-color: $accent;
        box-shadow: 1px 3px 1px rgba($primaryDarker, 0.1);
    }

    &--small {
        padding: 11px 22px;
        color: $primary;
        background-color: $neutralLighter;
        font-weight: 400;
        box-shadow: none;
        transition: background-color 0.3s, color 0.3s, opacity 0.4s;

        &:hover,
        &:focus,
        &:active {
            background-color: $accent;
            color: $neutral;
        }

        &:focus {
            opacity: 0.8;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* social icons */

.social {
    display: flex;
    justify-content: center;

    @media (min-width:768px) {
        justify-content: space-between;
    }


    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s, outline-offset 0.3s, box-shadow 0.3s;

        &:hover {
            background-color: $accent;

            .social__icon {
                fill: $neutral;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
            background-color: transparent;
        }

        &:active {
            box-shadow: inset 4px 4px 4px rgba($primaryDarker, 0.25);
            background-color: $accent;

            .social__icon {
                fill: $neutral;
            }
        }

        &--footer,
        &--footer:focus {
            background-color: rgba($neutral, 0.1);

            .social__icon {
                fill: $neutral;
            }
        }
    }

    &__icon {
        fill: $primaryLight;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: fill 0.5s;

    }
}