$primary: #212121;
$primaryDark: #070303;
$primaryDarker: #000;
$primaryLight: #757575;

$secondary: #2F303A;
$secondaryDark: #2F303A;

$accent: #EC3C05;
$accentLight: #F29040;

$neutral: #FFFFFF;
$neutralLight: #ECECEC;
$neutralLighter: #F5F4FA;
$neutralLightest: #E5E5E5;