$white: #FFF;
$black: #070303;
$light-black: #212121;
$grey: #757575;
$dark-grey: #2F303A;
$light-grey: #F5F4FA;
$orange: #EC3C05;

%rubik-400 {
    font-family: 'Rubik', sans-serif;

}

%rubik-700 {
    font-family: 'Rubik', sans-serif;

}


%roboto-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

%roboto-700 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}