$white: #FFF;
$vanilla: #ECECEC;
$black: #070303;
$light-black: #212121;
$grey: #757575;
$dark-grey: #2F303A;
$light-grey: #F5F4FA;
$orange: #EC3C05;
$mid-grey: #2F303A;

%rubik {
    font-family: 'Rubik', sans-serif;
}

%roboto {
    font-family: 'Roboto', sans-serif;
}