@import 'reset';
/* @import 'libs'; */
@import 'vars';
@import 'global';
@import './components/header';
@import './components/footer';


.hero {
    padding: 200px 0;
    background-color: $primaryDark;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        text-align: center;
    }

    &__title {
        color: $neutral;
        font-size: 44px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        max-width: 696px;
        margin-bottom: 30px;
    }

    &__subtitle {
        display: block;
    }
}

.about {

    &__items {
        display: flex;
    }

    &__item {
        font-size: 14px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__item-title {
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 9px;
    }

    &__item-text {
        color: $primaryLight;
        line-height: 1.7;
    }
}

.services {
    padding-top: 0;

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: $neutral;
        background-color: rgba($secondary, 0.6);
        text-transform: uppercase;
        padding: 25px 0;
        text-align: center;
        z-index: 2;
    }
}

.team {
    background-color: $neutralLighter;

    &__members {
        display: flex;
        justify-content: space-between;
    }

    &__member {
        text-align: center;
        line-height: 1.2;
        border-radius: 0 0 4px 4px;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__member-content {
        padding: 29px 15px 30px;
    }

    &__member-name {
        margin-bottom: 10px;
    }

    &__member-role {
        font-family: 'Roboto', sans-serif;
        color: $primaryLight;
    }
}

.portfolio {
    background-color: $neutralLightest;

    &__filter {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__btn {
        padding: 11px 26px;
        background-color: $neutralLighter;
        line-height: 1;
        border-radius: 4px;
        transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;

        &:hover {
            color: $neutral;
            background-color: $accent;
            box-shadow: 1px 3px 1px rgba($primaryDarker, 0.1);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__category-desc {
        background-color: $neutral;
        padding: 20px 24px;
        border: 1px solid $primaryLight;
        border-top: transparent;
        line-height: 2;
    }

    &__category-title {
        font-size: 18px;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }

    &__category-text {
        color: $primaryLight;
    }
}