@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import './components/header';
@import './components/footer';
@import './components/hero';
@import './components/about';
@import './components/services';
@import './components/team';
@import './components/portfolio';
@import './components/partners';




.social {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {

        &::before {
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            background-color: transparent;
            border-radius: 50%;
            transition: background-color 0.6s;
        }

        &:hover::before {
            background-color: $accent;
        }

        &:hover .social__icon {
            fill: $neutral;
        }

    }

    &__icon {
        fill: $primaryLight;
        position: absolute;
        top: 26%;
        left: 28%;
        transition: fill 0.5s;
    }


}