.about {

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 568px) {
            flex-direction: row;
        }
    }

    &__item {
        font-size: 14px;
        margin-bottom: 30px;
        z-index: 1;

        @media (min-width:768px) {
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &__icon {
        align-items: center;
        position: relative;
        max-width: 450px;
        width: 100%;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
        border: 1px solid $primaryLight;

        @media(min-width:480px) {
            width: 450px;
        }

        @media(min-width:768px) {
            width: 354px;
        }

        @media (min-width:992px) {
            width: 270px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 70px;
            height: 73px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &--hands::before {
            background-image: url("../../images/icons/hands.svg");
        }

        &--phone::before {
            background-image: url("../../images/icons/phone.svg");
        }

        &--man::before {
            background-image: url("../../images/icons/man.svg");
        }

        &--workspace::before {
            background-image: url("../../images/icons/workspace.svg");
        }
    }

    &__item-title {
        text-align: center;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 9px;

        @media(min-width:568px) {
            text-align: left;
        }
    }

    &__item-text {
        max-width: 447px;
        width: 100%;
        color: $primaryLight;
        line-height: 1.7;
    }
}