.footer {
    background-color: $primaryDark;
    color: $neutral;
    font-size: 14px;
    padding: 64px 0 60px;

    &__container {
        display: flex;
    }

    &__contact {
        margin-right: 63px;
    }

    &__logo {
        margin-bottom: 23px;
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 19px;
    }

    &__social-inner {
        margin-right: 93px;
    }

}

.address {
    font-family: 'Roboto', sans-serif;

    &__text {
        margin-bottom: 9px;
    }

    &__link {
        display: inline-block;
        color: $accentLight;
        margin-bottom: 9px;
        transition: color 0.3s, outline-offset 0.3s, border-radius 0.3s;

        &:hover {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
            border-radius: 4px;
        }

        &:active {
            opacity: 0.6;
        }
    }

    &__link:not(:last-child) {
        margin-bottom: 9px;
    }
}

.sub-form {
    display: flex;
    max-width: 570px;
    width: 100%;

    &__caption {
        display: block;
    }

    &__input {
        display: block;
        width: 358px;
        margin-right: 12px;
        padding: 15px 16px;
        background-color: transparent;
        color: $neutral;
        border: 1px solid rgba($neutral, 0.3);
        border-radius: 4px;

        &::placeholder {
            color: rgba($neutral, 0.3);
        }

        &:hover::placeholder {
            color: $accent;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }
    }

    &__btn {
        padding: 10px 28px 10px 39px;
        display: flex;
        align-items: center;

    }

    &__icon {
        margin-left: 20px;
        fill: $neutral;
    }
}