.footer {
    background-color: $primaryDark;
    padding: 64px 0 60px;

    &__container {
        display: flex;
    }

    &__left {
        margin-right: 63px;
    }

    &__logo {
        margin-bottom: 23px;
    }

    &__contact {
        font-family: 'Roboto', sans-serif;
        line-height: 1.2;

        &-address {
            color: $neutral;
            margin-bottom: 9px;
        }

        &-item {
            color: $accentLight;

            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }

    &__right-title {
        text-transform: uppercase;
        color: $neutral;
    }

    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__social-item:not(:last-child) {
        margin-right: 10px;
    }

}

.social {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {

        &::before {
            content: '';
            display: block;
            width: 44px;
            height: 44px;
            background-color: transparent;
            border-radius: 50%;
            transition: background-color 0.6s;
        }

        &:hover::before {
            background-color: $accent;
        }

        &:hover .social__icon {
            fill: $neutral;
        }

    }

    &__icon {
        fill: $primaryLight;
        position: absolute;
        top: 26%;
        left: 28%;
        transition: fill 0.5s;
    }


}