.footer {
    background-color: $primaryDark;
    color: $neutral;
    font-size: 14px;
    padding: 64px 0 60px;

    &__container {
        display: flex;
    }

    &__contact {
        margin-right: 63px;
    }

    &__logo {
        margin-bottom: 23px;
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 19px;
    }
}

.address {
    font-family: 'Roboto', sans-serif;

    &__text {
        margin-bottom: 9px;
    }

    &__link {
        display: block;
        color: $accentLight;
    }

    &__link:not(:last-child) {
        margin-bottom: 9px;
    }
}

.social__link {

    &--footer::before {
        background-color: rgba($neutral, 0.1);
    }

    &--footer:hover::before {
        background-color: $accent;
    }
}

.social__icon {

    &--footer {
        fill: $neutral;
    }
}