.header {
    height: 60px;
    padding: 12px 0;
    border-bottom: 1px solid $neutralLight;

    @media (min-width:768px) {
        height: auto;
        padding: 8px 0 8px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 89px;
    }
}

.logo {
    transition: opacity 0.4s, outline-offset 0.3s;
    max-width: 116px;

    @media (min-width: 1200px) {
        max-width: 149px;
    }


    &:hover {
        opacity: 0.5;
    }

    &:focus {
        outline: 1px solid $accent;
        outline-offset: 4px;
        border-radius: 4px;
    }

    &:active {
        opacity: 0.7;
    }
}

.menu {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    margin: 0 auto;


    &__list {
        display: none;

        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__item {

        @media (min-width:768px) {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    &__link {
        display: block;
        padding: 17px 0;
        font-size: 40px;
        position: relative;
        border-radius: 4px;
        transition: color 0.4s, border-color 0.4s, opacity 0.4s;

        @media (min-width:768px) {
            padding: 20px 0;
            font-size: 16px;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 50%;
            width: 0;
            height: 4px;
            background-color: $accent;
            border-radius: 2px;
            transition: width 0.4s, left 0.4s, background-color 0.3s;
        }

        &:hover,
        &.current {
            color: $accent;

            &::before {
                left: 0;
                width: 100%;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
        }

        &:active {
            opacity: 0.5;
        }
    }

    &__contact {
        display: none;


        @media (min-width:768px) {
            display: flex;
            flex-direction: column;
        }

        @media (min-width:1200px) {
            flex-direction: row;
        }
    }

    &__contact-link {
        display: flex;
        align-items: center;
        padding: 4px;
        font-size: 14px;
        color: $primaryLight;
        border: 1px solid transparent;
        transition: color 0.3s, border-color 0.3s, opacity 0.3s;

        &:not(:last-child) {

            @media (min-width:1200px) {
                margin-right: 45px;
            }
        }



        &:hover {
            color: $accent;

            .menu__contact-icon {
                fill: $accent;
            }
        }


        &:focus {
            border-color: $accent;
            border-radius: 4px;
        }

        &:active {
            opacity: 0.7;
        }

    }

    &__contact-icon {
        margin-right: 10px;
        fill: $primaryLight;
        transition: fill 0.3s;
    }
}

/* Hamburger menu btn */
.hamburger {
    display: block;
    width: 44px;
    height: 44px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: background-color 0.3s, border-color 0.3s;

    @media (min-width:768px) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        border-color: $accent;

        .hamburger__line {
            background-color: $primaryLight;

            &::after,
            &::before {
                background-color: $primaryLight;
            }
        }
    }

    &:active {
        box-shadow: inset 3px 3px 3px rgba($primaryDark, 0.12);
        border-radius: 6px;
    }

    &__line {
        display: block;
        position: relative;
        width: 26px;
        height: 2px;
        background-color: $accent;
        transition: width 0.5s;

        &::after,
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 26px;
            height: 2px;
            background-color: $accent;
            left: 0;
            transition: transform 0.5s, left 0.5s;
        }

        &::after {
            top: -8px;
        }

        &::before {
            bottom: -8px;
        }
    }

    /* class active */

    &.active:hover {
        border-radius: 50%;
        border-color: rgba($primaryDarker, 0.1);
    }

    &.active:focus {
        border-color: $accent;
    }

    &.active:focus .hamburger__line::after,
    &.active:focus .hamburger__line::before {
        border-color: $primaryDarker;
    }

    &.active:active {
        border-radius: 50%;
    }

    &.active .hamburger__line {
        width: 0;
    }

    &.active .hamburger__line::after {
        transform: rotate(43deg);
        width: 22px;
        left: -12px;
        top: 0;

    }

    &.active .hamburger__line::before {
        transform: rotate(-43deg);
        width: 22px;
        left: -12px;
        bottom: 0;
    }
}

/* Mobile menu */

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    transform: translateY(-110%);
    padding: 50px 40px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: $neutral;
    transition: transform 0.3s;

    &.active {
        transform: translateY(0);
    }

    &.active .menu__link::before {
        display: none;
    }

    @media (min-width:768px) {
        display: none;
    }

    @media (max-width: 768px) and (orientation: landscape) {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &__list {
        flex: 1;

        @media (max-width: 768px) and (orientation: landscape) {
            flex: 0;
        }
    }

    &__link {
        text-align: left;
    }

    &__contact {
        margin-bottom: 35px;

        @media (max-width: 768px) and (orientation: landscape) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__contact-link {
        font-size: 32px;
        line-height: 1;
        padding: 15px 0;
    }

    &__social {
        display: flex;
    }

    &__social-item {
        padding-right: 10px;
        border-right: 1px solid rgba($primary, 0.2);


        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__social-link {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: $accent;
    }

}