.header {
    padding: 32px 0 28px;
    border-bottom: 1px solid $neutralLight;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        position: relative;
        transition: color 0.4s;

        &:before {
            content: "";
            position: absolute;
            bottom: -29px;
            left: 50%;
            width: 0;
            height: 4px;
            background-color: $accent;
            border-radius: 2px;
            transition: width 0.4s, left 0.4s;
        }

        &:hover {
            color: $accent;

            &:before {
                left: 0;
                width: 100%;
            }
        }
    }

    .logo-menu {
        margin-right: 89px;
    }

    &__contact {
        display: flex;
    }

    &__contact-details {
        color: $primaryLight;
        line-height: 1.2;
        display: flex;
        align-items: center;
        transition: color 0.4s;

        &:hover {
            color: $accent;
        }

        &:before {
            content: "";
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-right: 10px;
            transition: color 0.4s;

            &:hover {
                color: $accent;
            }
        }

        &--envelope::before {
            content: "";
            width: 16px;
            height: 12px;
            background-image: url("../images/icons/envelope.svg");
        }

        &--phone::before {
            content: "";
            width: 10px;
            height: 16px;
            background-image: url("../images/icons/phone.svg");
        }
    }

    &__contact-item:not(:last-child) {
        margin-right: 45px;
    }

    &__contact-item {
        position: relative;
    }
}