.header {
    padding-top: 8px;
    border-bottom: 1px solid $neutralLight;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 89px;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.02em;

    &__list {
        display: flex;
    }

    &__item:not(:last-child) {
        margin-right: 50px;
    }

    &__link {
        display: block;
        padding: 24px 4px 22px;
        position: relative;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: color 0.4s, border-color 0.4s;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 4px;
            background-color: $accent;
            border-radius: 2px;
            transition: width 0.4s, left 0.4s, background-color 0.3s;
        }

        &:hover,
        &.current {
            color: $accent;

            &::before {
                left: 0;
                width: 100%;
            }
        }

        &:active {
            color: rgba($primary, 0.5);

            &::before {
                background-color: rgba($accent, 0.7);
            }
        }

        &.current:active {
            color: rgba($accent, 0.7);
        }

        &:focus {
            border-color: $accent;

            &::before {
                display: none;
            }
        }
    }

    &__contact {
        display: flex;
    }

    &__contact-wrapper:not(:last-child) {
        margin-right: 45px;
    }

    &__contact-wrapper {
        display: flex;
        align-items: center;
        padding: 4px;
        font-size: 14px;
        color: $primaryLight;
        border: 1px solid transparent;
        transition: color 0.3s;

        &:hover {
            color: $accent;
        }

        &:hover .menu__contact-icon {
            fill: $accent;
        }

        &:focus {
            border-color: $accent;
            border-radius: 4px;
        }

        &:active {
            color: rgba($accent, 0.7);
        }

        &:active .menu__contact-icon {
            fill: rgba($accent, 0.7);
        }

    }

    &__contact-icon {
        margin-right: 10px;
        fill: $primaryLight;
        transition: fill 0.3s;
    }
}