.slick-slider .slick-track {
    height: 60vh;
}

.hero {
    position: relative;
    background-color: $primaryDarker;
    max-width: 1600px;
    margin: 0 auto;

    &__container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        min-width: 360px;
        text-align: center;

        @media(min-width: 768px) {
            min-width: 696px;
        }
    }

    &__title {
        font-size: 18px;
        color: $neutral;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;

        @media(min-width:420px) {
            font-size: 24px;
        }

        @media(min-width:768px) {
            font-size: 44px;
        }
    }

    &__subtitle {
        display: block;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        max-width: 1600px;
        width: 100%;
        height: 60vh;


        &--1 {
            background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                url('../images/slider/1slider-mob.jpg');

            @media(min-device-pixel-ratio:2),
            (min-resolution:192dpi),
            (min-resolution:2dppx) {
                background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                    url('../images/slider/1slider-mob2x.jpg');
            }


            @media (min-width:768px) {
                background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                    url('../images/slider/1slider-tab.jpg');

                @media(min-device-pixel-ratio:2),
                (min-resolution:192dpi),
                (min-resolution:2dppx) {
                    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                        url('../images/slider/1slider-tab2x.jpg');
                }
            }

            @media (min-width:1200px) {
                background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                    url('../images/slider/1slider-desk.jpg');

                @media(min-device-pixel-ratio:2),
                (min-resolution:192dpi),
                (min-resolution:2dppx) {
                    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.6) 0%, rgba(47, 48, 58, 0.6) 100%),
                        url('../images/slider/1slider-desk2x.jpg');
                }
            }
        }
    }
}