.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($primaryDarker, 0.3);
    backdrop-filter: blur(2px);

    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0);
            transition: transform 1000ms cubic-bezier(0, 1.44, 0.58, 0.27);
        }
    }
}

.modal {
    position: relative;
    transform: scale(1);
    background-color: $neutral;
    box-shadow: 8px 8px 3px rgba($primaryDarker, 0.12);
    border-radius: 6px;
    padding: 45px 10px 20px;
    max-width: 450px;
    width: 100%;
    text-align: center;
    transition: transform 500ms ease-in-out 0ms;

    @media (min-width: 480px) {
        padding: 40px;
    }

    @media (min-width: 1200px) {
        max-width: 528px;
    }

    @media (max-width: 980px) and (orientation: landscape) {
        padding: 10px;
    }

    &__title {
        font-size: 18px;
        text-align: left;
        margin-bottom: 11px;

        @media (min-width: 480px) {
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }

        @media (max-width: 992px) and (orientation: landscape) {
            font-size: 16px;
            text-align-last: left;
            margin-bottom: 7px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 40px;
        height: 40px;
        background-color: $neutral;
        border: 1px solid rgba($primaryDarker, 0.1);
        border-radius: 50%;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:hover .modal__btn-icon {
            fill: $accent;
        }

        &:focus {
            border-color: $accent;
        }

        &:focus .modal__btn-icon {
            fill: $primaryDarker;
        }

        &:active {
            border-color: transparent;
            box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);
        }

        &:active .modal__btn-icon {
            fill: $accent;
        }
    }
}

.modal__btn-icon {
    fill: $primaryDarker;
    transition: fill 0.3s;
}

.form-order {
    max-width: 448px;
    width: 100%;
    margin: 0 auto;

    &__details {

        @media (max-width: 992px) and (orientation: landscape) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: space-around;
            gap: 7px;
            height: 60vh;
        }
    }

    &__caption {
        position: relative;
        display: block;
        text-align: left;
        font-size: 12px;
        color: $primaryLight;

        @media (min-width: 480px) {
            font-size: 14px;
        }

        @media (max-width: 992px) and (orientation: landscape) {
            font-size: 12px;
        }

        &--left {
            flex: 0 0 33, 33%;
        }

        &--right {
            flex: 0 0 100%;
        }
    }

    &__input {
        width: 100%;
        margin-bottom: 5px;
        padding: 5px 10px;
        border: 1px solid rgba($primary, 0.2);
        border-radius: 4px;
        transition: outline 0.4s;

        @media (min-width: 480px) {
            margin-bottom: 10px;
            padding: 14px 15px 14px 42px;
        }

        @media (max-width: 992px) and (orientation: landscape) {
            margin-bottom: 5px;
            padding: 5px 10px;
        }

        &:hover {

            &+.form-order__icon {
                fill: rgba($accent, 0.7);
            }
        }

        &:focus {
            outline: 1px solid $accent;

            &+.form-order__icon {
                fill: $accent;
            }
        }

        &:active {

            &+.form-order__icon {
                fill: rgba($accent, 0.5);
            }
        }

        &--msg {
            min-height: 120px;
            padding: 6px 8px;

            @media (min-width: 480px) {
                margin-bottom: 15px;
                padding: 12px 16px;
            }


            &::placeholder {
                font-size: 14px;
            }

            @media (max-width: 992px) and (orientation: landscape) {
                min-height: 80%;
                padding: 6px 8px;
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        position: absolute;
        bottom: 15px;
        left: 10px;
        transition: fill 0.3s;

        @media (min-width: 480px) {
            bottom: 30px;
            left: 15px;
        }

        @media (max-width: 992px) and (orientation: landscape) {
            bottom: 15px;
            left: 10px;
        }
    }


    .form-accept {
        margin-bottom: 15px;

        @media (min-width: 768px) {
            margin-bottom: 26px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 30px;
        }

        @media (max-width: 980px) and (orientation: landscape) {
            margin-bottom: 5px;
        }

        &__checkbox {
            position: relative;
            appearance: none;
            width: 16px;
            height: 16px;
            background-color: $neutral;
            border: 1px solid $primaryDarker;
            border-radius: 2px;
            margin-right: 7px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s, border-color 0.3s, outline 0.3s;

            &:focus {
                outline: 1px solid $accent;
            }

            &::after {
                content: '';
                position: absolute;
                width: 10px;
                height: 7px;
                background-image: url('../../images/icons/checkbox.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:checked {
                background-color: $accent;
                border-color: $accent;

                &::after {
                    opacity: 1;
                }
            }
        }

        &__text {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 12px;
            color: $primaryLight;


            @media (min-width: 480px) {}

            @media (min-width: 1200px) {
                font-size: 14px;
            }

            @media (max-width: 980px) and (orientation: landscape) {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }
        }

        &__link {
            color: $accent;
            text-decoration: underline;
            transition: opacity 0.3s, outline-offset 0.3s, border-radius 0.3s;
        }

        &:hover {
            opacity: 0.7;
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 2px;
            border-radius: 2px;
        }

        &:active {
            opacity: 0.6;
        }
    }
}