.backdrop {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($primaryDarker, 0.3);
    backdrop-filter: blur(2px);

    opacity: 1;
    transition: opacity 1s ease-in-out;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;

        .modal {
            transform: scale(0);
            transition: transform 1000ms cubic-bezier(0, 1.44, 0.58, 0.27);
        }
    }
}

.modal {
    position: relative;
    transform: scale(1);
    background-color: $neutral;
    box-shadow: 8px 8px 3px rgba($primaryDarker, 0.12);
    border-radius: 6px;
    padding: 8px;
    max-width: 528px;
    transition: transform 500ms ease-in-out 0ms;
}

.modal__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: $neutral;
    border: 1px solid rgba($primaryDarker, 0.1);
    border-radius: 50%;

    &:hover .modal__btn-icon {
        fill: $accent;
    }

    &:focus {
        border-color: $accent;
    }

    &:focus .modal__btn-icon {
        fill: $primaryDarker;
    }

    &:active {
        border-color: transparent;
        box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.12);
    }

    &:active .modal__btn-icon {
        fill: $accent;
    }
}

.modal__btn-icon {
    fill: $primaryDarker;
}

.text {
    width: 370px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.subtext {
    display: block;
}