.partners {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__item {
        position: relative;
        width: calc((100% - 30px) / 2);

        @media (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 3);
        }

        @media (min-width: 1200px) {
            width: calc((100% - 5 * 30px) / 6);
        }
    }


    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 55px;
        height: 92px;
        border: 1px solid $primaryLight;
        border-radius: 4px;
        transition: border-color 0.3s, outline-offset 0.3s, opacity 0.4s;

        &:hover,
        &:active {
            border-color: $accent;

            .partners__icon {
                fill: $accent;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
            border-color: $primaryLight;

            .partners__icon {
                fill: $primaryLight;
            }
        }

        &:active {
            opacity: 0.7;
        }
    }
}

.partners__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $primaryLight;
    transition: fill 0.3s;
}