.team {
    background-color: $neutralLighter;

    &__members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    &__member {
        width: 100%;
        max-width: 450px;
        margin: 0 auto 30px;
        text-align: center;
        line-height: 1.2;
        border-radius: 0 0 4px 4px;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);

        @media (min-width: 768px) {
            width: calc((100% - 30px) / 2);
            margin-bottom: 0;
        }

        @media (min-width: 1200px) {
            width: calc((100% - 3 * 30px) / 4);
        }

    }

    &__member-img {
        object-fit: cover;
    }

    &__content {
        background-color: $neutral;
        padding: 30px 32px 36px;

        @media (min-width: 768px) {
            padding: 35px 32px 30px;
        }
    }

    &__member-name {
        margin-bottom: 10px;
    }

    &__member-role {
        font-family: 'Roboto', sans-serif;
        color: $primaryLight;
        margin-bottom: 16px;
    }
}