.team {
    background-color: $neutralLighter;

    &__members {
        display: flex;
        justify-content: space-between;
    }

    &__member {
        text-align: center;
        line-height: 1.2;
        border-radius: 0 0 4px 4px;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__content {
        padding: 35px 32px 30px;
    }

    &__member-name {
        margin-bottom: 10px;
    }

    &__member-role {
        font-family: 'Roboto', sans-serif;
        color: $primaryLight;
        margin-bottom: 16px;
    }
}

/* social icons */

.social {
    display: flex;
    justify-content: space-between;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background-color: transparent;
        border-radius: 50%;
        transition: background-color 0.3s, outline-offset 0.3s box-shadow 0.3s;

        &:hover {
            background-color: $accent;

            .social__icon {
                fill: $neutral;
            }
        }

        &:focus {
            outline: 1px solid $accent;
            outline-offset: 4px;
            background-color: transparent;
        }

        &:active {
            box-shadow: inset 4px 4px 4px rgba($primaryDarker, 0.25);
            background-color: $accent;

            .social__icon {
                fill: $neutral;
            }
        }
    }
}

.social__icon {
    fill: $primaryLight;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.5s;
}